IoTassignment.json
[{"id":"ea0c854e.381ab8","type":"tab","label":"IoTAssignment","disabled":false,"info":""},{"id":"a1bb6084.52a56","type":"ibmiot in","z":"ea0c854e.381ab8","authentication":"apiKey","apiKey":"dd27fa59.4d2428","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2","applicationId":"","deviceType":"Node4Assignment","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":220,"wires":[["770b407a.01f54","2b7c1731.4a8948","f1e1fc4e.b18de","fdafa8f6.8cff68","e2b32fde.1847c"]]},{"id":"770b407a.01f54","type":"debug","z":"ea0c854e.381ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"2b7c1731.4a8948","type":"ui_gauge","z":"ea0c854e.381ab8","name":"","group":"465b1ffb.3ed4","order":2,"width":0,"height":0,"gtype":"gage","title":"Performance","label":"units","format":"{{msg.payload.Performance}}","min":0,"max":"100","colors":["#00b377","#73e600","#b23acb"],"seg1":"","seg2":"","x":750,"y":220,"wires":[]},{"id":"f1e1fc4e.b18de","type":"ui_gauge","z":"ea0c854e.381ab8","name":"","group":"a3b9e57.9050618","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.Humidity}}","min":0,"max":"300","colors":["#00b377","#73e600","#b23acb"],"seg1":"","seg2":"","x":270,"y":300,"wires":[]},{"id":"fdafa8f6.8cff68","type":"ui_gauge","z":"ea0c854e.381ab8","name":"","group":"264406c7.a3179a","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.Temperature}}","min":0,"max":"550","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":300,"wires":[]},{"id":"e2b32fde.1847c","type":"ui_gauge","z":"ea0c854e.381ab8","name":"","group":"e56ab7a9.4c7fb8","order":0,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":300,"wires":[]},{"id":"dd27fa59.4d2428","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"nwi5tl.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"465b1ffb.3ed4","type":"ui_group","z":"","name":"Performance","tab":"7f969fba.7cefb","order":4,"disp":true,"width":"6","collapse":false},{"id":"a3b9e57.9050618","type":"ui_group","z":"","name":"Humidity","tab":"7f969fba.7cefb","order":1,"disp":true,"width":"6","collapse":false},{"id":"264406c7.a3179a","type":"ui_group","z":"","name":"Temperature","tab":"7f969fba.7cefb","order":2,"disp":true,"width":"6","collapse":false},{"id":"e56ab7a9.4c7fb8","type":"ui_group","z":"","name":"Pulse","tab":"7f969fba.7cefb","order":3,"disp":true,"width":"6","collapse":false},{"id":"7f969fba.7cefb","type":"ui_tab","z":"","name":"HomeWork","icon":"dashboard","disabled":false,"hidden":false}]